body{
    font-family: 'Montserrat', sans-serif;
    background-color: #fdfcf0;
}  
.bar{
    background-color: #efebdb;    
    display: flex;
    justify-content: space-between;
    max-width: 100%;
}
.header {
    width: 100%;
}

.header_inner {
    width: 50%;
    display: flex;
    align-items: center;
    justify-content:space-around; 
}
.logo-img {
    width: 50px;
    transform: scale(5);
    margin-top: -1.9rem;
}
.logo_img {
    /* margin-left: 200px; */
}
.advert {
    max-width: 70%;
    margin: 0 auto;
}
.menu {
    /* margin-left: -6rem; */
    display: flex;
    align-items: center;
    justify-content: space-around;
    list-style: none;
}
.menu_item {
    text-decoration: none;
    display: block;
    padding: 1rem;
    margin-top: 2rem;
    cursor: pointer;
    /*  transform: translateX(-200px); */
}
.menu_link{
    color: #000;
    font-size: 2rem;  
    text-transform: uppercase ;  
    text-decoration: none;
}
.menu_link:hover  {
    text-decoration: none;
    color: darkblue;
    transition: 0.1s;
}
.movies {
    position: relative;
}
.movies_1 {
    display: none;
}
.movies:hover .movies_1{
    display: block; 
}
.menu_child {
    position: absolute;
    top: 100%;
    left: -200px;
    width: 1200px;
    background-color: #efebdb;
    display: flex;
    z-index: 10;
}
.menu_child_list-1{
    width: 25%;
}
.menu_child_item {
    color: black;
    list-style: none;
    font-size: 1.6rem;
    padding: 0.5rem;
    cursor: pointer;
    margin: 5px;
}   
.menu_child_item:hover {
    color: rgb(166, 0, 255);
    scale: 1.1;
    transition: 0.1s;   
    text-decoration: none;
}
.account-item:hover {
    text-decoration: none;
    color: rgb(166, 0, 255);
}
.more {
    position: relative;
}
.menu_child-2 {
    position: absolute;
    top: 100%;
    background-color: #efebdb;
    z-index: 10;
}
.menu_child_list-2 {
    display: none;
    padding: 5px;
}
.more:hover .menu_child_list-2 {
    display: block;
}
.movie {
    background-color: antiquewhite;
    max-width: 100%;
    padding-top: 1rem;
    margin-top: -10px;
}
.movie-bar{
    max-width: 900px;
    margin-right: auto;
    margin-left: auto;
    margin-bottom: -15px;
    padding: 5px;
}  
.movie-child{
    display: flex;
    list-style: none;
    justify-content: space-around;
}  
.movie-item{
    text-transform: uppercase;
    cursor: pointer;
    font-size: 16px;
}
.account {
    margin-top: 3rem;
    margin-right: 4rem;
    position: relative;
}
.icon{
    margin-top: -10px;
    font-size: 20px;
    color: #000;
}
.account-type {
    position: absolute;
    display: none;
    width: 250px;
    background-color: #efebdb;
    left: -50px;
}
.account-child {
    list-style: none;
}
.account-item{
    text-decoration: none;
    color: black;
} 
.account:hover .account-type{
    display: block;
}

.img_header {
    width: 100%;
}

h3 {
    display: inline-block;
}

.content {
    width: 980px;
    min-height: 100px;
    margin: 0 auto;
    padding: 10px 0 40px;
}

.name_film {
    width: 980px;
    padding: 20px;
    background: #efebdb;
    font-size: 20px;
    color: #231f20;
    font-weight: bold;
}

.content .time_line {
    padding: 0 20px 15px;
}

.content .time_line dt {
    padding: 30px 0 0;
    margin-top: 0;
    font-size: 16px;
    font-weight: bold;
    color: #231f20;
    background: none;
}

.content .time_line dd {
    padding: 20px 0 0 5px;
}

.content dd .cineD1 {
    font-size: 13px;
}

ol, ul, li {
    list-style: none;
}

.content dd .cineD1 li:first-child {
    background: none !important;
    padding-left: 0;
}

.content dd .cineD1 li {
    float: left;
    padding: 0 7px 0 8px;
    margin: 0;
    color: #666;
}

.content dd .cineD1 li > .suoc {
    border-right: 1px solid #666;
}

.time_line dd .theater_time {
    overflow: hidden;
    width: 935px;
}

.time_line dd .theater_time li {
    float: left;
    width: 130px;
    margin: 10px 0 0;
    background: #fff;
    border: 1px solid #ebeaea;
    text-align: center;
    margin-right: -1px;
    text-align: center;
}

a {
    text-decoration: none;
    color: #555;
}

.time_line dd .theater_time li:hover {
    background-color: #ccc;
    color: #fff;
    text-decoration: none;
}

.time_line dd .theater_time li .cineD2 {
    display: block;
    height: 21px;
    line-height: 21px;
    color: #666;
    border-bottom: 1px solid #e5e5e5;
}

.time_line dd .theater_time li .clock {
    display: block;
    height: 38px;
    line-height: 38px;
    border-bottom: 1px solid #e5e5e5;
    font-size: 15px;
    color: #666;
    font-weight: bold;
}

.time_line dd .theater_time li .ppNum {
    display: block;
    height: 19px;
    line-height: 19px;
    color: #666;
    font-size: 12px;
}

#footer {
    position: relative;
    width: 100%;
    border-top: 2px solid #dedede;
}

.foot_Img {
    width: 980px;
    margin: 0 auto;
    margin-bottom: 20px;
}

img {
    border: 0;
    vertical-align: middle;
}

#footer .footer_inner {
    width: 980px;
    margin: 0 auto;
    padding: 30px 0 20px;
}

#footer .footer_link {
    padding-left: 0;
    overflow: hidden;
}


#footer .footer_link li:first-child {
    padding-left: 0;
    background: none;
}

#footer .footer_link li {
    float: left;
    padding: 0 8px 0 9px;
}

#footer .footer_link .vach {
    border-right: 1px solid #000;
}

#footer .company_info {
    margin: 3px 0;
    overflow: hidden;
    color: #666;
    font-size: 12px;
    line-height: 18px;
    background-repeat: no-repeat;
    background-position: 830px 15px;
}

#footer .copy {
    font-size: 11px;
    color: #777;
}